{% if section.settings.enable_category == true %}
<div class="categories">
  <div class="row">      
    {% if section.blocks.size > 0 %}  
    <div class="category_feature1 owl-carousel">
      {% for block in section.blocks %}  
      {% if block.type == 'text_collection' %}
      {%- assign collection = collections[block.settings.collection_cat_id] -%}   
      <div id="cat-featured--{{ block.id }}" class="collection_cat_item"> 
        <div class="category_content col-sm-12">              
          <div class="tt_cat_content">
            <div class="collection_img"><a href="{{ collection.url }}"><img height="290" width="220" src="{{ block.settings.image_1 | img_url: "220x290"  }}" alt="collection-img"/></a></div>                
            {% if collection.title != blank  %}  
            <a href="{{ collection.url }}">
              <div class="collection_title">{{ block.settings.collection_title }}</div></a>
            {% endif %} 
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<style>
  .categories .collection_title {
    color:{{section.settings.title_color }};
  } 
  .categories .collection_title:hover {color:{{section.settings.title_hvr_color }};} 

</style>
