{% assign products_per_row = settings.collection_products_per_row %}
{% unless products_per_page  %}
{% assign products_per_page = 9 %}
{% endunless %}
<div id="ProductGridContainer">
  {% paginate collection.products by products_per_page %}  
  <div class="collection_template" data-section-type="collection-template" id="product-grid" data-section-id="{{ section.id }}"> 
  <header class="section-header text-left">
    <div class="filter-wrapper {{ settings.collection_sidebar_use }} wrap_{{ settings.collection_filter_pos }}">
      {% if settings.collection_sidebar_use == "full_width" %}
      {% if settings.collection_filter_pos == "left_filter" %}  
      <a class="filter-left" href="#"><i class="mdi mdi-format-align-left"></i>filter</a>   
      {% endif %}
      {% endif %}
      {% if settings.collection_sidebar_use == "full_width" %}
      {% if settings.collection_filter_pos == "right_filter" %}  
      <a class="filter-right" href="#">filter<i class="mdi mdi-format-align-right"></i></a> 
      {% endif %}
      {% endif %}
      <div class="sorting_wrapper">
        {% if settings.collection_sort_enable %}
        <div class="grid--full {{ settings.collection_sidebar_use }} {{ settings.collection_filter_pos }} collection-sorting{% if settings.collection_sort_enable %} collection-sorting--enabled{% endif %}">
          {% if settings.collection_sort_enable %}
          {% render 'collection-sorting' %}
          {% endif %}
        </div>
        {% endif %}      
        <div class="filter-show grid__item">
          <label>{{ 'collections.toolbar.show' | t }}</label>
          {% assign current_page_size = paginate.page_size %}
          <div class="pages_list">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="mdi mdi-swap-horizontal hide"></i>
              {% if paginate.page_size != collection.all_products.size %}
              <span class="pag-product">{{paginate.page_size}}</span>
              {% else %}
              <span>{{ 'collections.toolbar.all' | t }}</span>
              {% endif %}
              <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              {% if settings.collection_results_per_page != blank %}
              {% assign product_per_page = settings.collection_results_per_page %}
              {% else %}
              {% assign product_per_page = 9 %}
              {% endif %}
              {% if collection.all_products.size >= 9 %} 
              <li {% if current_page_size == 9 %} class="active" {% endif %}><a href="9">9</a></li> 
              {% endif %}
              {% if collection.all_products.size >= 12 %}
              <li {% if current_page_size == 12 %} class="active" {% endif %}><a href="12">12</a></li>
              {% endif %}
              {% if collection.all_products.size >= 24 %}
              <li {% if current_page_size == 24 %} class="active" {% endif %}><a href="24">24</a></li>
              {% endif %}
              {% if collection.all_products.size >= 36 %}
              <li {% if current_page_size == 36 %} class="active" {% endif %}><a href="36">36</a></li>
              {% endif %}
              {% if collection.all_products.size >= 10 %}
              <li {% if current_page_size > 10 %} class="active" {% endif %} ><a href="all">all</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% if settings.collection_sidebar_use == "full_width" %} 
      {% if settings.collection_filter_pos == "toggle_filter" %}  
      <a class="filter-toggle" href="#">filter<i class="mdi mdi-format-align-right"></i></a> 
      <div class="filter-toggle-wrap">
        <div class="collection_sidebar">
          {% if current_tags == blank %}
          {% assign has_refined = false %} 
          {% else %}
          {% assign has_refined = true %} 
          {% endif %}
          <div class="sidebar-block">
             {% render 'sidebar-category', enable_sidecategory: section.settings.enable_sidecategory, linkedlist: section.settings.linkedlist, linkedlist_title: section.settings.linkedlist_title %}
              
          </div>  
           {% render 'facets', results: collection, collapse_on_larger_devices: section.settings.collapse_on_larger_devices, show_filter: section.settings.show_filter, enable_sorting: section.settings.enable_sorting %}
            {% render 'promo-banner' %}
        </div>
      </div>

      {% endif %}
      {% endif %}
    </div>
  </header>
  <div class="grid-uniform product-grid col-main masonary-collection">
    <div class="row">
      <div class="products-grid-view collections_masonry shop_masonry">
        {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% case products_per_row %}
        {% when '2' %}
        {% assign grid_item_width = 'medium-up--one-third large-up--one-half' %}
        {% when '3' %}
        {% assign grid_item_width = 'medium-up--one-third large-up--one-third' %}
        {% when '4' %}
        {% assign grid_item_width = 'medium-up--one-third large-up--one-quarter' %}
        {% when '5' %}
        {% assign grid_item_width = 'medium-down--one-half large-up--one-fifth' %}
        {% when '6' %}
        {% assign grid_item_width = 'medium-down--one-half large-up--one-sixth' %}
        {% endcase %}
        {% for product in collection.products %}
        {% assign featured = product %}
        <div class="grid-item ms-item {{ settings.product_hover_btn }} {{ grid_item_width }}">
          {% render 'product-grid-masonry-item', product: product, collection: collection %}
        </div>
        {% else %}
        {% if collection.handle == 'all' %}
        {% render 'onboarding-empty-collection' %}
        {% else %}
        {% comment %}
        If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid-item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="text-center pagination-wrap">
    {% render 'pagination-custom' %}
    <div class="showing">
      <span class="show-txt">Showing</span> <span class="loadcount">{{ products_per_page }}</span> of {{ collection.all_products.size }}.
    </div>
  </div>
  </div>
  {% endpaginate %}
</div>
{{ 'masonry.js' | asset_url | script_tag }}
<script>$(window).load(function(){var $container=$(".shop_masonry");$container.imagesLoaded(function(){$container.masonry({itemSelector:".ms-item",columnWidth:".ms-item",percentPosition:!0})})});</script>