<style>.ttcmsparallax .parallex .parallax-detail .title{color: {{ section.settings.title_color }};}
  .ttcmsparallax .parallex .parallax-detail .subtitle{color:{{ section.settings.subtitle_color }};}
  .ttcmsparallax .parallex .parallax-detail .parallax-button a.btn{color: {{ section.settings.btn_txt_color }};}
  .ttcmsparallax .parallex .parallax-detail .parallax-button a.btn:hover,
  .ttcmsparallax .parallex .parallax-detail .parallax-button a.btn:focus,
  .ttcmsparallax .parallex .parallax-detail .parallax-button a.btn:active{color: {{ section.settings.btn_hover_txt_color }};}
  .ttcmsparallax .parallex .parallax-detail .parallax-button a.btn::after,
  .ttcmsparallax .parallex .parallax-detail .parallax-button a.btn::before{border-bottom-color: {{ section.settings.btn_txt_color }};
    background: none;}
  .ttcmsparallax .parallex .parallax-detail .parallax-button {border-bottom-color: {{ section.settings.btn_txt_color }};}
  .ttcmsparallax .parallex .parallax-detail .parallax-button:hover,
  .ttcmsparallax .parallex .parallax-detail .parallax-button:focus,
  .ttcmsparallax .parallex .parallax-detail .parallax-button:active {border-bottom-color: {{ section.settings.btn_hover_txt_color }};}
</style>
<div class="ttcmsparallax" data-section-id="{{ section.id }}" >
  <div class="{% if section.settings.parallax_enable %}parallex{% endif %}" data-source-url="{{ section.settings.image | img_url: 'master' }}" style="background-color:{{section.settings.bg_color}};background-image:url('{{ section.settings.image | img_url: 'master' }}'); background-position: 50% 65.8718%;">
    <div class="container">
      <div class="parallax-detail hb-animate-element right-to-left">
          {% if section.settings.title != blank %}
          <div class="title">{{ section.settings.title }}</div>
          {% endif %}
          {% if section.settings.subtitle != blank %}
          <div class="subtitle">{{ section.settings.subtitle }}</div>
          {% endif %}
          {% if section.settings.btn_link != blank %}
          <div class="parallax-button">
            <a class="parallaxbtn btn" href="{% if section.settings.btn_link != blank %}{{ section.settings.btn_link }}{% else %}#{% endif %}">{{ section.settings.btn_txt }}</a>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{{ 'parallax.min.js' | asset_url | script_tag }}
{% schema %}
{
  "name": "CMS Parallax",
  "class": "ttcmsparallax",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#f5f5f5"
    },
    {
      "type": "checkbox",
      "id": "parallax_enable",
      "label": "Show Parallax Enable"
    }, 
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#111111"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub title"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#111111"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "btn_txt_color",
      "label": "Button text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "btn_hover_txt_color",
      "label": "Button Hover text Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
    "name": "CMS Parallax",
    "category": "TT CMS section"
    }
  ]
}
{% endschema %}
<script>jQuery(document).ready(function(){"use strict";var isMobile=/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);if(!isMobile){if(jQuery(".parallex").length){jQuery(".parallex:not(.invert_true)").sitManParallex({invert:!1})};if(jQuery(".parallex.invert_true").length){jQuery(".parallex").sitManParallex({invert:!0})}}else{jQuery(".parallex:not(.invert_true)").sitManParallex({invert:!0});jQuery(".parallex.invert_true").sitManParallex({invert:!0})}});</script><!--End_AZEXO_sections/parallax.liquid_Section-->