<style>
  .cms-banner .banner .banner-content1 .title {color: {{section.settings.banner1_title_color }};}
  .cms-banner .banner .banner-content2 .title {color: {{section.settings.banner2_title_color }};}
  .cms-banner .banner .banner-content1 .subtitle {color: {{section.settings.banner1_subtitle_color }};}
  .cms-banner .banner .banner-content2 .subtitle {color: {{section.settings.banner2_subtitle_color }};}  	
  .cms-banner .banner .banner-content3 .subtitle {color: {{section.settings.banner3_subtitle_color }};}
  .cms-banner .banner .banner-content1 .desc {color: {{section.settings.banner1_desc_color }};background: {{ section.settings.banner1_bg_desc_color }};}  	 
  .cms-banner .banner .banner-content2 .desc {color: {{section.settings.banner2_desc_color }};}
  .cms-banner .banner .banner-content3 .desc {color: {{section.settings.banner3_desc_color }};}
  .cms-banner .banner .banner-content4 .desc {color: {{section.settings.banner4_desc_color }};}
  .cms-banner .banner .banner-content .btn1{color: {{section.settings.btn1_txt_color }};background: {{ section.settings.btn1_bg_color }};}
  .cms-banner .banner .banner-content .btn1::after{background: {{ section.settings.btn1_hoverbg_color }};}
  .cms-banner .banner .banner-content .btn1:focus,
  .cms-banner .banner .banner-content .btn1:active {
    color: {{section.settings.btn1_hovertxt_color }};
    background: {{ section.settings.btn1_hoverbg_color }};
  }
  .cms-banner .banner .banner-content .btn1:hover{
    color: {{section.settings.btn1_hovertxt_color }};
  }
  .cms-banner .banner .banner-content .btn2{color: {{section.settings.btn2_txt_color }};background: {{ section.settings.btn2_bg_color }};}
  .cms-banner .banner .banner-content .btn2::after{background: {{ section.settings.btn2_hoverbg_color }};}
  .cms-banner .banner .banner-content .btn2:focus,
  .cms-banner .banner .banner-content .btn2:active {
    color: {{section.settings.btn2_hovertxt_color }};
    background: {{ section.settings.btn2_hoverbg_color }};
  }
  .cms-banner .banner .banner-content .btn2:hover{
    color: {{section.settings.btn2_hovertxt_color }};
  }
  .cms-banner .banner .banner-content .btn3{color: {{section.settings.btn3_txt_color }};background: {{ section.settings.btn3_bg_color }};}
  .cms-banner .banner .banner-content .btn3::after{background: {{ section.settings.btn3_hoverbg_color }};}
  .cms-banner .banner .banner-content .btn3:focus,
  .cms-banner .banner .banner-content .btn3:active {
    color: {{section.settings.btn3_hovertxt_color }};
    background: {{ section.settings.btn3_hoverbg_color }};
  }
  .cms-banner .banner .banner-content .btn3:hover{
    color: {{section.settings.btn3_hovertxt_color }};
  }
  .cms-banner .banner.banner2 .banner-content4 .title {
    -webkit-text-stroke: 2px {{section.settings.banner4_title_color }};
  }
  .cms-banner .banner.banner2 .content2 .banner-content3 .title {color: {{section.settings.banner3_title_color }};}
</style>    
<div class="container">  
  <div class="row">
    <div class="cms-banner hb-animate-element right-to-left">
      <div class="banner banner1 col-sm-6 col-xs-6">
        {% if section.settings.banner1_img != blank %}
        <a href="{% if section.settings.banner1_url != blank %}{{ section.settings.banner1_url }}{% else %}#{% endif %}">
          <img width="750" height="650" src="{{ section.settings.banner1_img | img_url:"750x650" }}" alt="banner1">
          <div class="banner-content banner-content1 {{ section.settings.text1_position }}">
            <div class="banner-inner">
              {% if section.settings.banner1_title != blank %}<div class="title">{{ section.settings.banner1_title }}</div>{% endif %}
              {% if section.settings.banner1_desc != blank %}<div class="desc">{{ section.settings.banner1_desc }}</div>{% endif %}
              {% if section.settings.banner1_btn != blank %}<div class="btn1 btn">{{ section.settings.banner1_btn }}</div>{% endif %}
            </div>
          </div>
        </a>
        {% endif %}
      </div>
      <div class="banner banner2 col-sm-6 col-xs-6">
        <div class="content1 col-sm-12 col-xs-12">
          {% if section.settings.banner2_img != blank %}
          <a href="{% if section.settings.banner2_url != blank %}{{ section.settings.banner2_url }}{% else %}#{% endif %}">
            <img width="750" height="310" src="{{ section.settings.banner2_img | img_url:"750x310" }}" alt="banner2">
            <div class="banner-content banner-content2 {{ section.settings.text2_position }}">
              <div class="banner-inner">
                {% if section.settings.banner2_title != blank %}<div class="title">{{ section.settings.banner2_title }}</div>{% endif %}
                {% if section.settings.banner2_desc != blank %}<div class="desc">{{ section.settings.banner2_desc }}</div>{% endif %}
              {% if section.settings.banner2_btn != blank %}<div class="btn2 btn">{{ section.settings.banner2_btn }}</div>{% endif %}
              </div>
            </div>
          </a>
          {% endif %}
        </div>
        <div class="content2 col-sm-6 col-xs-6">
          {% if section.settings.banner3_img != blank %}
          <a href="{% if section.settings.banner3_url != blank %}{{ section.settings.banner3_url }}{% else %}#{% endif %}">
            <img width="360" height="310" src="{{ section.settings.banner3_img | img_url:"360x310" }}" alt="banner3">
            <div class="banner-content banner-content3 {{ section.settings.text3_position }}">
              <div class="banner-inner">
                {% if section.settings.banner3_title != blank %}<div class="title">{{ section.settings.banner3_title }}</div>{% endif %}
                {% if section.settings.banner3_desc != blank %}<div class="desc">{{ section.settings.banner3_desc }}</div>{% endif %}
              {% if section.settings.banner3_btn != blank %}<div class="btn3 btn">{{ section.settings.banner3_btn }}</div>{% endif %}
              </div>
            </div>
          </a>
          {% endif %}
        </div>
        <div class="banner-content3 col-sm-6 col-xs-6">
          {% if section.settings.banner4_img != blank %}
          <a href="{% if section.settings.banner4_url != blank %}{{ section.settings.banner4_url }}{% else %}#{% endif %}">
            <img width="360" height="310" src="{{ section.settings.banner4_img | img_url:"360x310" }}" alt="banner4">
            <div class="banner-content banner-content4 {{ section.settings.text4_position }}">
              <div class="banner-inner">
                {% if section.settings.banner4_title != blank %}<div class="title">{{ section.settings.banner4_title }}</div>{% endif %}
              </div>
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>    
</div>  

{% schema %}
{
  "name": "CMS Banner",
  "class": "index-section cmsbanner",
  "settings": [
      {
        "type": "image_picker",
        "id": "banner1_img",
        "label": "Banner1 image"
      },
      {
        "type": "url",
        "id": "banner1_url",
        "label": "Banner1 url"
      },
      {
        "type": "select",
        "id": "text1_position",
        "label": "Text Position",
        "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
        ]
      },
      {
        "type": "text",
        "id": "banner1_title",
        "label": "Banner1 title"
      },
      {
        "type": "color",
        "id": "banner1_title_color",
        "label": "Banner1 title color"
      },
      {
        "type": "text",
        "id": "banner1_desc",
        "label": "Banner1 Description"
      },
      {
        "type": "color",
        "id": "banner1_desc_color",
        "label": "Banner1 Description color"
      },
      {
        "type": "color",
        "id": "banner1_bg_desc_color",
        "label": "Banner1 Background Description color"
      },
      {
        "type": "text",
        "id": "banner1_btn",
        "label": "Banner Button"
      },
      {
        "type": "color",
        "id": "btn1_txt_color",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn1_bg_color",
        "label": "Button Background Color",
        "default": "#111111"
      },
      {
        "type": "color",
        "id": "btn1_hovertxt_color",
        "label": "Button Hover Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn1_hoverbg_color",
        "label": "Button Hover Background Color",
        "default": "#ce465b"
      },
      {
        "type": "image_picker",
        "id": "banner2_img",
        "label": "Banner2 image"
      },
      {
        "type": "url",
        "id": "banner2_url",
        "label": "Banner2 url"
      },
      {
        "type": "select",
        "id": "text2_position",
        "label": "Text Position",
        "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
        ]
      },
      {
        "type": "text",
        "id": "banner2_title",
        "label": "Banner2 title"
      },
      {
        "type": "color",
        "id": "banner2_title_color",
        "label": "Banner2 title color"
      },
      {
        "type": "text",
        "id": "banner2_desc",
        "label": "Banner2 Description"
      },
      {
        "type": "color",
        "id": "banner2_desc_color",
        "label": "Banner2 Description color"
      },
      {
        "type": "text",
        "id": "banner2_btn",
        "label": "Banner Button"
      },
      {
        "type": "color",
        "id": "btn2_txt_color",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn2_bg_color",
        "label": "Button Background Color",
        "default": "#111111"
      },
      {
        "type": "color",
        "id": "btn2_hovertxt_color",
        "label": "Button Hover Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn2_hoverbg_color",
        "label": "Button Hover Background Color",
        "default": "#ce465b"
      },
      {
        "type": "image_picker",
        "id": "banner3_img",
        "label": "Banner3 image"
      },
      {
        "type": "url",
        "id": "banner3_url",
        "label": "Banner3 url"
      },
      {
        "type": "select",
        "id": "text3_position",
        "label": "Text Position",
        "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
        ]
      },
      {
        "type": "text",
        "id": "banner3_title",
        "label": "Banner3 title"
      },
      {
        "type": "color",
        "id": "banner3_title_color",
        "label": "Banner3 title color"
      },
      {
        "type": "text",
        "id": "banner3_desc",
        "label": "Banner3 Description"
      },
      {
        "type": "color",
        "id": "banner3_desc_color",
        "label": "Banner3 Description color"
      },
      {
        "type": "text",
        "id": "banner3_btn",
        "label": "Banner Button"
      },
      {
        "type": "color",
        "id": "btn3_txt_color",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn3_bg_color",
        "label": "Button Background Color",
        "default": "#111111"
      },
      {
        "type": "color",
        "id": "btn3_hovertxt_color",
        "label": "Button Hover Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn3_hoverbg_color",
        "label": "Button Hover Background Color",
        "default": "#ce465b"
      },
      {
        "type": "image_picker",
        "id": "banner4_img",
        "label": "Banner4 image"
      },
      {
        "type": "url",
        "id": "banner4_url",
        "label": "Banner4 url"
      },
      {
        "type": "select",
        "id": "text4_position",
        "label": "Text Position",
        "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
        ]
      },
      {
        "type": "text",
        "id": "banner4_title",
        "label": "Banner4 title"
      },
      {
        "type": "color",
        "id": "banner4_title_color",
        "label": "Banner4 title color"
      }
  ],
    "presets": [
      {
        "name": "CMS Banner",
        "category": "TT CMS section"
      }
    ]
}
{% endschema %}